.popup__button.popup__button_disabled {
  background-color: white; 
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  cursor: default;
  pointer-events: none;
  opacity: 1; 
}

.popup__button:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: not-allowed;
}

.popup__form_disabled {
  opacity: 0.7;
  pointer-events: none;
}